.detailContainer {
  width: 100%;
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin: -8px;
}

.categorieContainer {
  background-color: #dce6e9;
  padding: 30px;
}
